*{
  padding: 0;
  margin: 0;
}

.mainbody {
	background:url(../images/body.jpg) top repeat-x #050507;
	color:#FFFFFF;
}

p {
margin:10px 0;
padding:5px;
line-height:20px;
color: #ffffff;
}

.contentgrid {
  grid-area: content;
  background:#151521;
  padding: 15px;
}

.sidebargrid {
  grid-area: sidebar;
  background:#181825;
  padding: 15px;
  color:#bdbdc1;
  border: 2 px;
}

.headergrid {
  grid-area: header;
  text-align: center;
	color:#fff;
  overflow: hidden;
}

.spacegrid {
  grid-area: spacer;
  height: 15px;
}

.navgrid {
  grid-area: nav;
  background:#181825;
  border-top:1px solid #2E2E47;
  min-height: 25px;
  padding: 10px;
}

table {
  color: #ffffff;
}



.headerimage {
  position: relative; /* allows repositioning */
  left: 100%; /* move the whole width of the image to the right */
  margin-left: -200%; /* magic! */
}

.center {
      position: relative;
      display: inline-block;
      left: 50%;
      transform: translate(-50%);
}


.wrapper {
  width: 65vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas: "header header header "
  "nav nav nav"
  "content content sidebar"
  "spacer spacer spacer";
  grid-gap: 0px;
  color: #444;
  margin:0 auto

}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav a {
padding:12px;
color:#ACACB0;
text-decoration:none;
margin-right:0px;
}

nav li {
  padding-top: 6px;
  padding-bottom: 6px;
}

nav li:hover {
background-image: linear-gradient(#0d0e13, #171723);
color:#fff;

}

li.active {
  background-image: linear-gradient(#0d0e13, #171723);
  color:#fff;
}

a.active {
  color: #fff;
}


h1 {
font:1.7rem Arial;
color:#fff;
margin:15px 0;
}


h1.main_title {
font:170% Century Gothic;
color:#fff;
font-weight:bold;
margin:20px auto 0;
text-align:center;
}

h2 {
font:110% Verdana;
color:#fff;
font-weight:bold;
margin:2px 0 15px;
}

p.note {
padding:10px;
margin: 10px;
background:#2D2D44;
color:#fff;
}

blockquote {
background:url(../images/quote.gif) bottom right no-repeat #292935;
padding:2px 17px;
}

a {
	color:#9FF;
}

a:hover {
	text-decoration: none;
	text-align: center;
}

@media screen and (max-width: 600px){
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "content" "sidebar" "spacer";
    width: 100vw;
  }

  .logo{
		display:none;
	}

  nav li {
    font-size: 2.8vw;
  }

  }
