/*
Some important things to open With
*/

* {
  padding: 0;
  margin: 0;
}

/***************************************
1) Grid Layout - this section defines the basic areas of each page.
The wrappers contain the actual layout, everything else defines
areas. 'Wrapper' is used for the main page, 'altwrapper' refers
to pages that have an extra section at the bottom.
****************************************/

body {
  padding: 0;
  margin: 0;
}


.contentgrid {
  grid-area: content;
  background:#151521;
  padding: 15px;
}

.bottomgrid {
  grid-area: lower;
  background:#151521;
  padding: 15px;
}

.sidebargrid {
  grid-area: sidebar;
  background:#181825;
  padding: 15px;
  color:#bdbdc1;
  border: 2 px;
}

.headergrid {
  grid-area: header;
  text-align: center;
	color:#fff;
  overflow: hidden;
}

.spacegrid {
  grid-area: spacer;
  height: 15px;
  width: 1vw;
}

.navgrid {
  grid-area: nav;
  background:#181825;
  border-top:1px solid #2E2E47;
  min-height: 25px;
  padding: 10px;
}

.wrapper {
  width: 65vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas: "header header header "
  "nav nav nav"
  "content content sidebar"
  "spacer spacer spacer";
  grid-gap: 0px;
  color: #444;
  margin:0 auto
}

.altwrapper {
  width: 65vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas: "header header header "
  "nav nav nav"
  "content content sidebar"
  "lower lower lower"
  "spacer spacer spacer";
  grid-gap: 0px;
  color: #444;
  margin:0 auto
}

/***************************************
2) Text Styling
I feel like that's pretty self explanatory. Fonts, sizes, etc.
****************************************/
p {
margin:10px 0;
padding:5px;
color: #ffffff;
}


/***************************************
3) Text Styling
I feel like that's pretty self explanatory. Fonts, sizes, etc.
****************************************/
h1 {
font:1.7rem Arial;
color:#fff;
margin:15px 0;
}


h1.main_title {
font:170% Century Gothic;
color:#fff;
font-weight:bold;
margin:20px auto 0;
text-align:center;
}

h2 {
font:110% Verdana;
color:#fff;
font-weight:bold;
margin:2px 0 15px;
}

p.note {
padding:10px;
margin: 10px;
background:#2D2D44;
color:#fff;
}

blockquote {
background:url(../images/quote.gif) bottom right no-repeat #292935;
padding:2px 17px;
}

/***************************************
4) Nav Bar, navigation styling, link styling.
Navmart has all your navigation needs. Shop smart- shop Navmart.
****************************************/
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav a {
padding:12px;
color:#ACACB0;
text-decoration:none;
margin-right:0px;
}

nav li {
  padding-top: 6px;
  padding-bottom: 6px;
}

nav li:hover {
background-image: linear-gradient(#0d0e13, #171723);
color:#fff;

}

li.active {
  background-image: linear-gradient(#0d0e13, #171723);
  color:#fff;
}

a.active {
  color: #fff;
}

a {
	color:#9FF;
}

a:hover {
	text-decoration: none;
	text-align: center;
}

table {
  color: #ffffff;
}

/***************************************
5) Unsorted
****************************************/


.mainbody {
	background:url(../images/body.jpg) top repeat-x #050507;
	color:#FFFFFF;
}


.headerimage {  /* this bit centers the top image */
  position: relative;
  left: 100%;
  margin-left: -200%;
}

.center { /* this bit centers whatever needs it */
      position: relative;
      display: inline-block;
      left: 50%;
      transform: translate(-50%);
}


/***************************************
Mobile design modifications, assuming phone start at 600px across.
****************************************/


@media screen and (max-width: 600px){
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "content" "sidebar" "spacer";
    width: 100vw;
  }

  .altwrapper {
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
    "nav"
    "content"
    "lower"
    "sidebar"
    "spacer";
    grid-gap: 0px;
    color: #444;
    margin:0 auto
  }

  .logo{
		display:none;
	}

  nav li {
    font-size: 2.8vw;
  }

  tr {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5em 0;
      border: 1px solid rgba(3,3,3,0.2);
    }

    td, th {
      flex: 1 1 150px;
      border: 0.5px solid rgba(3,3,3,0.2);
    }

  .navgrid {
    padding: 0;
  }

  .contentgrid {
    padding: 5px;
  }

  .sidebargrid {
    padding: 5px;
  }


  }
