


.navbar-nav {
    float:none;
    margin:0 auto;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
.navstyle {
	background:#181825;
	width:530px;
	border-top:1px solid #2E2E47;
	font:90% Georgia;
	color:#fff;
	letter-spacing:2px;
	text-transform:uppercase;
	margin-top: 22px;
	margin-right: auto;
	margin-bottom: 1px;
	margin-left: auto;
	padding-top: 11px;
	padding-right: 0;
	padding-bottom: 12px;
	padding-left: 0;
	text-align: center;

}
